---
import Base from '@layouts/Base.astro';
---
<Base
  title='Slugify'
  description='Convert any string into a clean, SEO-friendly URL format (slug).'
>
<b>Turns a string into a clean, URL-friendly format.</b>
<main>
  <h2>Why use slugs in URLs?</h2>
  <p>Slugs make URLs human-readable, SEO-friendly, and easy to share. By including descriptive keywords (e.g., /why-use-slugs), slugs improve search engine rankings and help users understand the content before clicking. Keep it simple, clean, and meaningful!</p>
  <section>
    <input type="text" placeholder="Title"/>
    <button>Slugify</button>
    <div id="result">
    </div>
  </section>
</main>
</Base>
<script>
  import slugify from '@sindresorhus/slugify';
  
  let input = document.querySelector('input');
  let button = document.querySelector('button');
  let result = document.querySelector('#result');

  button.onclick = () => { 
    result.innerHTML = `<p><b>Result</b>: ${slugify(input.value)}</p>`
  }
</script>
