---
import { Image } from "astro:assets";
import Directory from "@layouts/Directory.astro";
import Image1 from "@images/169.png";
---
<Directory 
  title='Math'
  inodes={[
    { type: 'folder', text: 'Arithmetic' },
    { type: 'folder', text: 'Pre Algebra' },
    { type: 'folder', text: 'Algebra' }
  ]}
  >
<Image src={Image1} alt="Numbers pixel-art"/>
<p>Math is the science that studies numbers, quantity, and space. It solves problems, simulates worlds, and much more.</p>
</Directory>
