---
import Post from '#/layouts/Post.astro';
---

<Post
  title='404 Not Found'
  description='404 Not Found'
>
<button style="padding: 4px 8px;background: none;cursor: pointer;border: 1px solid #212121;" onclick="history.back()">Go back</button>
</Post>

