---
import Directory from "../layouts/Directory.astro"
---
<Directory
  title="Izolipe.com"
  description="Izolipe's web presence."
  inodes={[
    { type: 'folder', text: 'Math' },  
    { type: 'folder', text: 'Linux' },
    { type: 'line' },
    { type: 'folder', text: 'Projects' },
    { type: 'folder', text: 'Tools' },
    { type: 'folder', text: 'Blog' },  
  ]}  
  >
<img src="/favicon.svg" width="64" height="64"/>
<h2>Hi, Welcome to Izolipe!</h2>
<p>Izolipe is a lightweight, <a href="https://github.com/felipeIzolan/izolipe.com">open-source</a> website for sharing notes, tools, and projects. no ads, no trackers, just clean content. Simple, distraction-free, and built for sharing cool things.</p>
</Directory>
