---
import GitHub from './icons/Github.astro';
import Reddit from './icons/Reddit.astro';
import Youtube from './icons/Youtube.astro';
import X from './icons/X.astro';
import Mail from './icons/Mail.astro';
---
<footer>
  CC0 1.0 Universal; Felipe Izolan;
  <div style="display:flex;gap:2px;">    
    <a aria-label="Link to GitHub" href="https://github.com/felipeizolan"><GitHub /></a>
    <a aria-label="Link to Reddit" href="https://www.reddit.com/user/felipeizo/"><Reddit /></a>
    <a aria-label="Link to Youtube" href="https://www.youtube.com/@izolipe"><Youtube /></a>
    <a aria-label="Link to X" href="https://x.com/felipeizolann"><X /></a>
    <a aria-label="Link to mail" href="mailto:felipeizolan@proton.me"><Mail/></a>
  </div>
</footer>
