<footer>
  <span>CC0 1.0 Universal; Felipe Izolan;</span>
  <div>
    <a aria-label="Link to: YouTube" href="https://www.youtube.com/@felipeizolann">YouTube</a> /
    <a aria-label="Link to: GitHub" href="https://github.com/felipeizolan/izolipe.com">GitHub</a> /
    <a aria-label="Link to: Mail" href="mailto:felipeizolan@proton.me">Mail</a> /
    <a aria-label="Link to: X" href="https://x.com/felipeizolann">X</a>
  </div>
</footer>
