---
import "#/assets/styles/ko-fi.css"
---
<a 
  id="kofi"
  href="https://ko-fi.com/izolipe" 
  aria-label="Link to ko-fi"
  target="_blank" 
  rel="noopener noreferrer"
>
    <img 
      src='https://cdn.prod.website-files.com/5c14e387dab576fe667689cf/670f5a01229bf8a18f97a3c1_favion-p-500.png'
      width={16}
      height={16}
      alt='ko-fi icon'
    />
    Support me
</a>
