---
import { slugify } from "../utils.ts";
let headings = Astro.props.headings as Array<{ title: string, depth: number }>;
---
<hr/>
<h2>Table of Contents</h2>
<ul>
  {
    headings
    .map(
      ({title, depth}) => 
      <li style={`margin-left:${depth}em`}><a href={`#${slugify(title)}`}>{title}</a></li>
    )
  }
</ul>
<hr/>
