---
import { Image } from "astro:assets";
import Directory from "#/layouts/Directory.astro";
import Image1 from "@img/172.png";
---
<Directory
  title="English - Nouns"
  inodes={[
    { type: 'file', text: 'Countable nouns' },
  ]}
>
<Image src={Image1} alt="United Kingdom pixel art flag"/>
<p>
English nouns are words that represent names of people, places, things, or ideas.
</p>
</Directory>
