---
import Directory from "@layouts/Directory.astro"
import { Image } from "astro:assets";
---
<Directory
  title={'Matemática'}
  description={''}
  inodes={[
    { type: "folder", text: "Aritmética" },
    //{ type: "folder", text: "Pré-Álgebra" },
    //{ type: "folder", text: "Álgebra I" },
    //{ type: "folder", text: "Álgebra II" },
    //{ type: "folder", text: "Geometria" },
    //{ type: "folder", text: "Trigonometria" },
    //{ type: "folder", text: "Cálculo I" },
    //{ type: "folder", text: "Cálculo II" },
    //{ type: "folder", text: "Álgebra Linear" },
  ]}
>
<!-- <img src="" alt=""/> -->
<!-- <p></p> -->

</Directory>
