---
import Directory from "@layouts/Directory.astro"
import Icon from "@/assets/bitcon/0081.svg";
---
<Directory
  title={'Aritmética'}
  description={''}
  inodes={[
    { type: "file", text: "Número" },
    { type: "file", text: "Adição" },
    { type: "file", text: "Subtração" },
    { type: "file", text: "Multiplicação" },
    { type: "file", text: "Divisão" },
    { type: "file", text: "Potenciação" },
    { type: "file", text: "Radiciação" },
    { type: "file", text: "Logaritmo" },
    { type: "file", text: "Expressão Númerica" }  
  ]}
>
<Icon viewbox="0 0 16 16" width="64" height="64"/>
<p>Aritmética é um ramo da matemática que estuda as operações como adição, subtração, multiplicação e divisão, além de exponenciação, radiciação e logaritmo.</p>
</Directory>
