* {
  margin: 0;
  padding: 0;
  color: #212121;
}

body {
  font-size: 18px;
  line-height: 1.4;

  margin: 1em auto;
  max-width: 720px;

  background: #f6f6f6;
}

/* --------------------------------------------------- */

img {
  max-width: 100%;
  height: auto;
}

pre { 
  padding: 1em;
  border-radius: 4px;
}

code {
  color: #e1e4e8;
  background-color: #24292e;
}

blockquote {
  border-left: 4px solid #212121;
  padding-left: 1em;
}

ul,
ol {
  margin: 1.2em 1em;
}

input,
button {
  padding: 2px 4px;
}

td,
th,
table {
  padding: 6px;
  border: 1px solid #212121;
  border-collapse: collapse;
}

p, 
hr,
pre,
main { 
  margin: 1em 0;
}

/* --------------------------------------------------- */

nav, 
.inode {
  display: flex;
  align-items: center;
}

nav a,
.inode {
  transition: 200ms;
  text-decoration: none;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inode span::after {
  content: '-';
  margin: 0 7px;
}


nav a:hover {
  transform: translateY(-2px);
}

.inode:hover {
  transform: translateX(3px);
}

@media (max-width: 756px) {
  body {
    font-size: 16px;
    margin: 1em;
  }
  .inode span {
    display: none;
  }
}
