#kofi {
  margin: 8px;
  padding: 3px 6px;

  color: #f6f6f6;
  background: #212121;
  border-radius: 2px;

  right: 0;
  bottom: 0;
  position: fixed;
 
  font-size: small;
  text-decoration: none;
}
