---
import Directory from "@layouts/Directory.astro"
import Icon from "@/assets/bitcon/0080.svg";
---
<Directory
  title={'Linguagem de Programação'}
  description={''}
  inodes={[
    { type: "folder", text: "C" },
    //{ type: "folder", text: "C++", slug: "cpp" },
    //{ type: "folder", text: "Python" },
  ]}
>
<Icon viewbox="0 0 16 16" width="64" height="64"/>
<p>Linguagem de programação é uma abstração que, no contexto da computação, permite programar o computador e resolver problemas.</p>
</Directory>
